.header {
  display: flex;
  width: 100%;
  height: 60px;
  background-color: aliceblue;
}

.todo-list-body {
  position: relative;
  width: 400px;
  top: 30px;
  left: calc(50vw - 200px);
}

.todo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.add-btn {
  margin-left: 10px;
}

.input-box {
  text-align: center;
  margin-bottom: 10px;
}

.controls {
  cursor: pointer;
}
.controls:hover {
  color: purple;
}

.edit {
  color: goldenrod;
}
.delete {
  color: red;
}

.done {
  text-decoration: line-through;
}

.todo-context {
  max-width: 250px;
  overflow: auto;
}

@media screen and (max-width: 450px) {
  .todo-list-body {
    width: 90vw;
    left: 5vw;
  }

  .todoContext {
    max-width: 30vw;
  }
}
